body {
  margin: 0
}

.trans {
    transition: all .27s;
}

.text-shadow {
  text-shadow: 0 1px 3px rgba(0,0,0,0.30);
}

.trans-y {
  transition: all .2s ease;
}

.scale-up {
  transition: all .2s ease;
}

.trans-y:hover {
  transform: translateY(-1px);
}

.scale-up:hover {
  transform: scale(1.01);
}

.hero-path {
  fill: #fff;
  stroke:#000;
  stroke-width: 1;
}

.fadein {
  fill: #000;
  -webkit-transition: fill 1s;
  -moz-transition: fill 1s;
  transition: fill 1s;
}

@keyframes offset {
  to {
    stroke-dashoffset: 0px;
  }
}

.trig-anim {
  animation: offset 6s linear forwards;
}

.trig-anim .tri-top {
  animation: offset 6s linear forwards;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation-delay: 1.3s;
}

.trig-anim .tri-mid {
  animation: offset 6s linear forwards;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation-delay: 0.9s;
}

.trig-anim .tri-bot {
  animation: offset 6s linear forwards;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
}

.web-anim {
  animation: offset 10s linear forwards;
}
.web-anim .grp1 {
  animation: offset 10s linear forwards;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

.web-anim .grp2 {
  animation: offset 10s linear forwards;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation-delay: 0.9s;
}

.web-anim .grp3 {
  animation: offset 10s linear forwards;
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation-delay: 1.2s;
}

.web-anim .grp4 {
  animation: offset 10s linear forwards;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation-delay: 1.6s;
}
